.header{
    background-color: white;
    color: cornflowerblue;
    height: 50px;
    font-size: 24px;
    padding-left: 50px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.television{
    display: flex;
}
.category
{
    background-color: purple;
    color: white;
    font-size: 20px;
    border: none;
    box-shadow: 2px 2px 2px 2px #AAA;
}
.new{
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    border: none;
    box-shadow: 2px 2px 2px 2px #AAA;
    margin-left: 15px;
}
.bestseller{
    background-color: red;
    color: white;
    font-size: 20px;
    margin-left: 15px;
    border: none;
    box-shadow: 2px 2px 2px 2px #AAA;
}
.price{
    display: flex;
    margin-top: 30px;
}
.pri_1{
    font-size: 20px;
    color: #262525aa;
    text-decoration: line-through;
}
.pri_2{
    font-size: 20px;
    color: #262525aa;
    margin-left: 15px;
}
.description{
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}
.des-description{
    font-size: 18px;
    margin-top: 20px;
    margin-right: 200px;
}
.add-cart{
    margin-top: 20px;
    display: flex;
}
.quality{
    width: 70px;
    height: 20px;
}
.add-to-cart{
    margin-left: 20px;
    font-size: 18px;
    background-color: blue;
    color: white;
    border: none;
}
.add-information{
    margin-top: 20px;
    font-size: 30px;
}
.des{
    margin-top: 20px;
    font-size: 18px;
    margin-left:  415px;
    margin-right:415px ;
    text-align: center;
}
.telephone
{
    display: flex;
}
.img_1{
    width: 33%;
}
.img_2{
    width: 33%;
}
.img_3{
    width: 33%;
}
.footer{
    background-color: grey;
    color: white;
    text-align: center;
    height: 40px;
    font-size: 20px;
    padding-top: 20px;
}